* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.account-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


}


.account-left-col {
  width: 15%;
  height: 90%;
  background-color: #f2f8fc;
  border-radius: 1em;
  box-shadow: 0 0 0.5em #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  cursor: pointer;


}

.all-con {
  width: 90%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-con p {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  border-radius: 1em;
}

.my-wishlist-header {
  width: 90%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.wishlist-number-Container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  justify-content: space-around;
}

.wishlist-number-Container img {
  width: 25%;
  height: 80%;
}

.wishlist-number {
  width: 10%;
  height: 80%;
  text-orientation: upright;
  border-radius: 50%;
  color: rgba(25, 216, 25, 0.932);
  font-size: large;
  font-weight: bolder;
  transition: 1s ease-out;
}

.all-con p img {
  width: 20%;
  height: 80%;
}


.account-right-col {
  width: 80%;
  height: 90%;
  cursor: pointer;
  gap: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.heading {
  width: 15%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.11em solid rgb(56, 235, 33);
  border-radius: 1em;
}

.heading h4 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.all-each-containers {
  width: 100%;
  height: 95%;
  background-color: rgba(201, 204, 206, 0.267);
  overflow: auto;
  gap: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 1%;

}

.myprofilecontainer {
  width: 100%;
  height: 100%;
  background-color: blue;
  /* display: none; */
}

.mytripscontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
  overflow: auto;
  padding: 2%;
}

.mywishlistcontainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  padding: 2%;
  /* display: none; */
}

.becomehostcontainer {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 255, 42);
  /* display: none; */
}

.gethelpcontainer {
  width: 100%;
  height: 100%;
  background-color: rgb(217, 255, 0);
  /* display: none; */
}

.settingscontainer {
  width: 100%;
  /* display: none; */
  height: 100%;
  background-color: rgb(255, 136, 0);
}

.myprofilecontainer {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.loader-container img {
  mix-blend-mode: multiply;
}


.my-trips-container {
  width: 100%;
  height: 95%;
  background-color: #db7c7c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  padding-left: 5%;
  padding-top: 1%;
}

.each-trip-con {
  width: 95%;
  height: 48%;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0 0 0.5em #000;
}

.main-image-container {
  width: 40%;
  height: 100%;
}

.main-image-container img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.each-left-column {
  width: 60%;
  height: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.upper-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1em;
}

.lower-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.trip-host-card {
  width: 45%;
  height: 80%;
  box-shadow: 0 0 0.5em #000;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.trip-host-card img {
  width: 40%;
  height: 70%;
  border-radius: 50%;
}

.trip-host-details {
  width: 55%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
}

.trip-check-in-out-details {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.trip-check-in-container,
.trip-check-out-container,
.trip-days-stays-container,
.trip-total-amount-container {
  /* border: 0.1em solid rgb(0, 38, 255); */
  box-shadow: 0 0 0.3em #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  height: 60%;
  border-radius: 1em;
  font-size: large;


}

.lower-buttons-container {
  width: 60%;
  height: 20%;
  /* background-color: #e40808; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lower-buttons-container button {
  width: 45%;
  height: 80%;
  border: none;
  background-color: #302b5e;
  border-radius: 0.5em;
  font-size: larger;
  color: #fff;
}

.my-wishlist-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(199, 212, 224, 0.226);
  gap: 2%;
  padding: 2%;
}

.my-profile-container,
.become-host-container,
.get-help-container,
.my-settings-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(199, 212, 224, 0.226);
  align-items: center;
  /* justify-content: center; */
  padding: 2%;
  overflow: auto;

}

.hostAndNameInformation {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.nameInformation {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nameInformation h4 {
  /* color: orangered; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hostInfo {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #000;
}

.hostInfo img {
  width: 40%;
  height: 90%;
  border-radius: 50%;

}

.hostfulldetails {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hostfulldetails h4 {
  /* color: orangered; */
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40%;
}

.hostfulldetails h4 img {
  width: 13%;
  height: 60%;
}

.trips-check-in-out-info {
  width: 45%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
}

.trips-check-in,
.trips-check-out,
.days-of-stays,
.total-amount-to-pay {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 0.1em solid orangered;
  border-radius: 1em;
  margin-right: 3%;
}

.trips-check-in h4,
.trips-check-out h4,
.days-of-stays h4,
.total-amount-to-pay h4 {
  /* color: orangered; */
  font-size: large;
}

.trip-info-button {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.trip-info-button button {
  width: 45%;
  height: 80%;
  background-color: rgb(50, 50, 97);
  font-size: larger;
  color: #fff;
  border: none;
  border-radius: 1em;

}

.each-saved-house {
  width: 100%;
  height: 50vh;
  background-color: #fff;
  box-shadow: 0 0 0.5em #000;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 0.2%;
  transition: 0.2s;
}

.empty-Container {
  transition: 1s;
  color: orangered;
}

.saved-img-Container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
}

.saved-img-Container img {
  width: 95%;
  height: 42vh;
  border-radius: 0.5em;
}

.savedHouseInfo {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: rgb(207, 230, 250);
}

.savedHouseInfo p {
  width: 90%;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  overflow-x: hidden;
}

.viewDetailsBtn {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.viewDetailsBtn img {
  width: 13%;
  height: 100%;
}

.viewDetailsBtn a {
  width: 80%;
  height: 100%;
}

.viewDetailsBtn button {
  height: 100%;
  border-radius: 0.2em;
  width: 100%;
  border: none;
  background-color: #302b5e;
  color: #fff;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}