* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.navigation-bar {
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    padding-left: 5%;
    z-index: 9500;
}

.icon-logo {
    width: 10%;
    height: 100%;
}

.icon-logo img {
    width: 90%;
    height: 100%;
}

.navigation-bar-information {
    width: 65%;
    height: 70%;
    background-color: #c2c4ca60;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    backdrop-filter: blur(1em);
}

.navigation-bar-information img {
    width: 4.5%;
    height: 65%;
    background-color: rgb(112, 110, 110);
    border-radius: 50%;
    padding: 0.3%;
}

.navigation-bar-information ul {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navigation-bar-information ul li {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: large;
    /* font-weight: bold; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigation-bar-information ul li a {
    color: #000;
}

.nav-button-container {
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-button-container a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-button-container img {
    width: 25%;
    height: 80%;
}

.nav-button-container button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #473f80;
    border: none;
    font-size: medium;
    color: #fff;
    border-radius: 1em;

}

.hero-section-page {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 7%;
    flex-direction: row;
    justify-content: space-between;

}

.hero-left-column {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.hero-title-text {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-title-text h2 {
    font-size: 1.7em;
    font-weight: 600;
}

.hero-title-text h4 {
    font-size: large;
}

.hero-title-text a {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-title-text a button {
    width: 80%;
    height: 100%;
    font-size: large;
    color: #fff;
    border: none;
    border-radius: 1em;
    background-color: #473f80;
}

.find-a-place-container {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 0.5em #000;
    border-radius: 1em;
    background-color: #fff;
}

.upper-find-place-information {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.find-place-check-in {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.find-a-place-container h4 {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.find-a-place-container input {
    width: 70%;
    height: 40%;
    padding-left: 5%;
    padding-right: 2%;
    border: none;
    background-color: #86848436;
    border-radius: 1em;

}

.search-place-button-container {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-place-button-container button {
    width: 90%;
    height: 80%;
    background-color: orangered;
    border-radius: 0.5em;
    border: none;
    font-size: larger;
    color: #fff;

}

.our-achievements-container {
    width: 90%;
    height: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.satisfied-customers-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.satisfied-customers-images {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.satisfied-customers-images img {
    width: 20%;
    height: 100%;
    border-radius: 50%;
    margin-left: -10%;
    border: 0.1em solid rgb(24, 27, 236);

}

.satisfied-customers-container p {
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.travelled-locations-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.travelled-locations-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.travelled-locations-container img {
    width: 10%;
    height: 40%;

}

.travelled-locations-container p {
    font-style: italic;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-right-column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.rigth-top-image {
    width: 100%;
    height: 85%;
}

.rigth-top-image img {
    width: 98%;
    height: 100%;
}

.rigth-lower-images {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.rigth-lower-images img {
    width: 30%;
    height: 90%;
    border-radius: 5em;
}

/*------------------ Page 2 Exclusive------------------ */
.exclusive {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 95%;
    width: 100%;
    gap: 2%;
    padding: 1%;
}

.london {
    width: 100%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 0 0.5em #000;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;

}

.london img {
    width: 100%;
    border-radius: 1em;

}

.phuket {
    width: 100%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 0 0.5em #000;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;

}

.phuket img {
    width: 100%;
    border-radius: 1em;

}

.paris {
    width: 100%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 0 0.5em #000;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;

}

.paris img {
    width: 100%;
    border-radius: 1em;

}

.london span,
.phuket span,
.paris span {
    position: absolute;
    backdrop-filter: blur(1em);
    border-radius: 0.4em;
    margin-top: 15%;
    margin-right: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*-------------- page 3 Trending places-------------- */
.trending {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.swiper {
    width: 1400px;
    height: 85%;
    box-shadow: 0 0 10px #000;
    padding: 1%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 2em;
}

.swiper-wrapper {
    width: 1400px;
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    width: 1400px;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
}

.swiper-slide img {
    width: 1400px;
    height: 85vh;
    border-radius: 2em;
}


/* -------------Page 4 Referrall program-------------- */

.refer {
    width: 100%;
    height: 50vh;
}

.refer-content {
    position: absolute;
    width: 80%;
    height: 50vh;
    border-radius: 0.5em;
    background-image: linear-gradient(to right, #3f2321, transparent), url(refer2.jpeg);
    left: 10%;
    background-position: center;
    background-size: cover;
}

.refer h2 {
    position: absolute;
    left: 2%;
    top: 5%;
    color: orangered;
    font-size: 200%;
}

.refer p {
    position: absolute;
    color: #fff;
    font-style: italic;
    left: 5%;
    font-size: 175%;
    top: 20%;

}

.refer .refer-content button {
    position: absolute;
    width: 15%;
    height: 5vh;
    top: 80%;
    background: orangered;
    left: 80%;
    border-radius: 10px;
    border: none;

}

.refer-content a {
    text-decoration: none;
    font-size: 20px;
    /* font-weight: bold;  */
    color: #000;
}

/*--------- subscribe section---------- */


.subscribe {
    width: 100%;
    height: 20vh;
}

.subscribe .subscribe-con {
    position: absolute;
    height: 15vh;
    left: 25%;
    margin-top: 2%;
}

.subscribe-con h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;

}

.subscribe .email {
    position: absolute;
    width: 60%;
    left: 15%;
    margin-top: 4%;
}

.email input {
    width: 65%;
    height: 5vh;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 4%;
    background-color: #bfc6d4;

    transition: 1s;
}

.email input:hover {
    background-color: #d1d6e0;

}

#emailin::placeholder {
    position: absolute;
    color: #000;
    font-size: 120%;
    left: 5%;
    font-style: italic;
    transition: 1s;
}

.email button {
    position: absolute;
    width: 33%;
    height: 5vh;
    color: #fff;
    background: linear-gradient(to right, #293c72, #2d2851);
    border: none;
    margin-left: 2%;
    border-radius: 10px;
}

/* ----------About page ------------ */

.aboutSection {
    width: 100%;
}

.aboutSection h2 {
    font-size: 200%;
    margin-left: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.aboutContent {
    width: 95%;
    margin-left: 2.5%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    overflow: auto;
}

.aboutContent h3,
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* --------Review Page--------- */

.reviewSection {
    width: 100%;
    height: 55vh;
    color: rgb(40, 40, 95);
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.reviewContainer {
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: red; */
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    padding: 1%;

}

.reviewContainer .firstReview {
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px #202531;
    border-radius: 0.5em;
    padding: 1%;
    overflow: hidden;
    background-color: #fff;

}

.firstReview img {
    width: 32%;
    height: 14vh;
    border-radius: 50%;
    border: 1px solid rgb(6, 238, 6);
}

.reviewContainer .secondReview {
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px #202531;
    border-radius: 0.5em;
    padding: 1%;
    overflow: hidden;

}

.secondReview img {
    width: 32%;
    height: 14vh;
    border-radius: 50%;
    border: 1px solid rgb(6, 238, 6);
}

.reviewContainer .thirdReview {
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px #202531;
    border-radius: 0.5em;
    padding: 1%;
    overflow: hidden;

}

.thirdReview img {
    width: 32%;
    height: 14vh;
    border-radius: 50%;
    border: 1px solid rgb(6, 238, 6);
}

/* --------------SECOND WEB PAGE(HOUSE LISTINGS-------------------- */
.listcont {
    width: 100%;
    height: 700vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.house {
    width: 100%;
    height: 700vh;
    color: #000;
}

.left-col {
    width: 65%;
    transition: 0.3s;
    overflow: hidden;
}

#othercities {
    width: 90%;
    height: 20vh;
    align-items: center;
    transition: 0.4s;
    margin-top: 10vh;
}

#othercities .btns {
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 10px;

}

.btns button {
    width: 15%;
    height: 95%;
    /* border: 1px solid blue; */
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bolder;
    color: #202531;
    background: #fff;
    box-shadow: 0 0 5px #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.house-list1 {
    width: 95%;
    height: 65dvh;
}

.imgam {
    display: flex;
}

.description {
    height: 40dvh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

}

.imgam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ptags {
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

.ptags p {
    width: 70%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ptags a {
    position: absolute;
    padding-top: 5%;
}

.user-listing {
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90%;
    border-radius: 50%;

}

.user-listing img {
    background-color: rgb(148, 140, 140);
    border-radius: 50%;
}


.house-list1 img {
    width: 60%;
    height: 55dvh;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 5%;
    /* border-radius: 2em; */
}

.house-image-Two img {
    width: 20%;
    height: 55dvh;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 5%;
}


.hovertext {
    position: absolute;
    background-color: rgba(47, 53, 83, 0.39);
    width: 35%;
    height: 55vh;
    margin-top: 2vh;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    align-items: center;
    color: orangered;
    opacity: 0.0005;
    transition: 0.5s;
}

.hovertext:hover {
    opacity: 1;
}

.hovertext button {
    width: 30%;
    height: 5vh;
    cursor: pointer;
    border: none;
    background-color: #202531;
    color: #fff;
    font-size: large;
    border-radius: 0.5em;
}

.name {
    display: flex;
    width: 90%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.name h2 {
    font-size: large;
}

.name button {
    width: 130%;
    height: 5vh;
    border: none;
    background-color: #2d2851;
    border-radius: 0.5em;
    color: #fff;

}

.right-col {
    position: relative;
    width: 40%;
    height: 680vh;
    overflow: hidden;
}

.right-col-content {
    position: fixed;
    width: 23%;
    height: 75%;
    box-shadow: 0 0 15px rgb(131, 125, 125);
    left: 75%;
    top: 15%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    padding-left: 3%;
    transition: 0.2s;
}

.amenities-labels {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.amen-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

}

.amen-check {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.2%;
}

.amenities-labels-bottom {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.amen-right-bottom {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

}

.amen-check-bottom {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12%;
}

.heading {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer Section */
.footer {
    width: 100%;
    background-color: #e0e4eb;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding-top: 0.5em;
    cursor: pointer;
}

.content-footer {
    width: 95%;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2.5%;


}

.support {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-wrap: wrap;
}

.hostingService {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-wrap: wrap;
}

.Tranquil-service {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-wrap: wrap;
}

.contact-us {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-wrap: wrap;
}

.socials {
    width: 95%;
    height: 3vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroForSmall {
    display: none;
}

.menu-infromation-sm {
    display: none;
}

.services-sm {
    display: none;
}

.contact-us-sm {
    display: none;
}

/* ==================MEDIA QUERIES ============ */
@media(max-width: 480px) {
    .hero {
        display: none;
    }

    .heroForSmall {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .navigationForSm {
        width: 100%;
        height: 7%;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 5000;
        box-shadow: 0 0 0.2em #000;
    }

    .icon-logo-small {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: green; */
        justify-content: center;

    }

    .icon-logo-small img {
        width: 90%;
        height: 90%;
    }

    .navigation-Buttons-small {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navigation-Buttons-small a {
        width: 33%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        color: #000;
    }

    .hamburgerMenuContainer {
        width: 33%;
        height: 60%;
        transition: 1s;
    }

    .navigation-Buttons-small svg {
        width: 33%;
        height: 60%;
        cursor: pointer;
    }

    .hero-left-column {
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1500;
        backdrop-filter: blur(0.5em);
        transition: 1s;
        /* background-color: yellow; */
    }

    .find-a-place-container {
        width: 75%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 0.5em #000;
        border-radius: 1em;
        background-color: #fff;
        transition: 0.5s ease-out;

    }

    .find-a-place-container input {
        width: 90%;
        height: 40%;
        padding-left: 5%;
        padding-right: 2%;
        border: none;
        background-color: #86848436;
        border-radius: 1em;
    }

    .menu-infromation-sm {
        display: flex;
        width: 100%;
        height: 40%;
        /* background-color: #fff; */
        /* background-color: yellow; */
        background-color: #fff;
        position: absolute;
        transition: 0.5s;
        top: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        box-shadow: 0 0 0.5em #000;
        z-index: 500;

    }

    .menu-infromation-sm ul {
        width: 70%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .menu-infromation-sm ul li {
        text-decoration: none;
        color: #000;
    }

    .menu-infromation-sm ul li a {
        color: #000;
        font-size: large;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .hero-content-sm {
        width: 100%;
        height: 90%;
        /* background-color: green; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .left-hero-content-sm {
        display: flex;
        position: absolute;
        width: 60%;
        height: 90%;
        /* background-color: yellow; */
        left: 0%;
        z-index: 200;
        padding-top: 10%;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .introduction-sm {
        width: 100%;
        height: 45%;
        /* border: 0.2em solid green; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin-left: 5%;

    }

    .introduction-sm p {
        color: orangered;
    }

    .introduction-sm a {
        width: 70%;
        height: 17%;
    }

    .introduction-sm button {
        width: 100%;
        height: 90%;
        background-color: #293c72;
        border: none;
        font-size: medium;
        color: #fff;
        border-radius: 2em;
        margin-left: 5%;

    }

    .our-achievements-sm {
        width: 83%;
        height: 15%;
        /* background-color: blue; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-achievements-images-sm {
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .our-achievements-images-sm img {
        width: 30%;
        height: 80%;
        border-radius: 50%;
    }

    .right-hero-content-sm {
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        z-index: 150;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .right-hero-content-sm img {
        width: 100%;
        /* border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em; */
        height: 85%;
    }

    .other-images-sm {
        width: 50%;
        height: 15%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* background-color: yellow; */
    }

    .other-images-sm img {
        width: 100%;
        height: 95%;
        border-radius: 2em;
    }

    /* second page styles */
    .imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .paris {
        display: none;
    }

    .london span,
    .phuket span {
        margin-right: 10%;
        margin-top: 50%;
        padding: 1%;
    }

    .trending {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }

    .swiper {
        width: 350px;
        height: 85%;
        box-shadow: 0 0 10px #000;
        padding: 1%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 1em;
    }

    .swiper-wrapper {
        width: 350px;
        display: flex;
        flex-direction: row;
    }

    .swiper-slide {
        width: 350px;
        height: 85vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
    }

    .swiper-slide img {
        width: 350px;
        height: 85vh;
        border-radius: 1em;
    }


    /* referall program */
    .refer {
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
    }

    .refer-content {
        width: 98%;
        height: 30vh;
        border-radius: 0.5em;
        background-image: linear-gradient(to right, #3f2321, transparent), url(refer2.jpeg);
        left: 10%;
        background-position: center;
        background-size: cover;
        left: 1%;
    }

    .refer h2 {
        position: absolute;
        left: 2%;
        top: 5%;
        color: orangered;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .refer p {
        position: absolute;
        color: #fff;
        font-style: italic;
        left: 5%;
        font-size: large;
        top: 20%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    }

    .refer .refer-content button {
        position: absolute;
        width: 30%;
        height: 5vh;
        top: 80%;
        background: orangered;
        left: 60%;
        border-radius: 0.5em;
        border: none;

    }

    .subscribe {
        width: 100%;
        height: 20vh;
    }

    .subscribe .subscribe-con {
        position: absolute;
        height: 15vh;
        left: 0%;
    }

    .subscribe-con h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        width: 90%;
        margin-left: 5%;
        /* background-color: yellow; */
    }

    .reviewSection {
        width: 100%;
        height: 55vh;
        color: rgb(40, 40, 95);
        display: flex;
        flex-direction: column;
        padding: 1%;
    }

    .reviewContainer {
        width: 100%;
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-evenly;
        padding: 1%;
        /* background-color: red; */

    }

    .reviewContainer .firstReview {
        width: 95%;
        height: 100%;
        box-shadow: 0 0 0.2em #202531;
        border-radius: 0.5em;
        overflow: hidden;
        background-color: #fff;

    }

    .firstReview img {
        width: 32%;
        height: 10vh;
        border-radius: 50%;
        border: 1px solid rgb(6, 238, 6);
    }

    .reviewContainer .secondReview {
        width: 95%;
        height: 100%;
        box-shadow: 0 0 0.2em #202531;
        border-radius: 0.5em;
        padding: 1%;
        overflow: hidden;
        background-color: #fff;

    }

    .secondReview img {
        width: 32%;
        height: 10vh;
        border-radius: 50%;
        border: 1px solid rgb(6, 238, 6);
    }



    .thirdReview {
        display: none;
    }

    .Tranquil-service {
        display: none;
    }

    .socials {
        display: none;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .content-footer {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .support {
        display: none;
    }

    .hostingService {
        display: none;
    }

    .services-sm {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact-us {
        width: 54%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .contact-us p,
    .contact-us h3,
    .services-sm p,
    .services-sm h3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .contact-us-sm {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

}